body {
    font-family: 'Montserrat', serif;
    background-color: #F8F8FF;
}

#header {
    width: 100%;
    text-align: center;
}

#header_image {
    margin: 0 auto 30px auto;
}

.message {
    text-align: center;
    font-size: 20px;
}

.urlCode {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.btn-primary {
    background-color: #03359c;
    border: #324191 solid 1px;
}

.btn-primary:hover {
    background-color: #283dd0;
    border: #324191 solid 1px;
}